<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <security-constraint>
    	<web-resource-collection>
    		<web-resource-name>Forbidden</web-resource-name>
        		<url-pattern>/*</url-pattern>
        		<http-method>HEAD</http-method>
        		<http-method>PUT</http-method>
        		<http-method>DELETE</http-method>
        		<http-method>TRACE</http-method>
    	</web-resource-collection>

    	<auth-constraint>
        	<role-name></role-name>
    	</auth-constraint>
	</security-constraint>
        
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<error-page>
		<error-code>500</error-code>
		<location>/popup/error/error500.jsp</location>
	</error-page>
	
	<!-- 스프링 보안 필터 -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>  
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/security-context.xml</param-value>
	</context-param>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.poscoict.license.service.PhotoUploadListener</listener-class>
    </listener>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/beans.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/PhotoUpload</url-pattern>
		<url-pattern>/PhotoUploadHTML5</url-pattern>
		<url-pattern>/photoUploadCallback</url-pattern>
		
		<url-pattern>/index</url-pattern>
		<url-pattern>/login</url-pattern>
		<url-pattern>/board</url-pattern>
		<url-pattern>/logout</url-pattern>
		<url-pattern>/viewPost</url-pattern>
		<url-pattern>/replyList</url-pattern>
		<url-pattern>/sdkDownload</url-pattern>
		<url-pattern>/sdkFileDown</url-pattern>
		<url-pattern>/attachFileDown</url-pattern>
		<url-pattern>/permissionCheck</url-pattern>
		<url-pattern>/guestPermissionCheck</url-pattern>
		<url-pattern>/boardPermissionCheck</url-pattern>
		<url-pattern>/presentation</url-pattern>
		
		<url-pattern>/writing</url-pattern>
		<url-pattern>/write</url-pattern>
		<url-pattern>/modifyBoard</url-pattern>
		<url-pattern>/insertReply</url-pattern>
		<url-pattern>/deleteReply</url-pattern>
		<url-pattern>/deleteBoard</url-pattern>
		<url-pattern>/replyBoard</url-pattern>
		<url-pattern>/passwordPop</url-pattern>
		<url-pattern>/changePassword</url-pattern>		
		<url-pattern>/certificateDownload</url-pattern>
		<url-pattern>/certificateDownloadInfo</url-pattern>
		<url-pattern>/replyBoardForm</url-pattern>
		<url-pattern>/modifyBoardForm</url-pattern>
		<url-pattern>/pdfDownload</url-pattern>
		<url-pattern>/passCheck</url-pattern>
		
		<url-pattern>/management</url-pattern>
		<url-pattern>/licenseFileDown</url-pattern>
		<url-pattern>/licenseManager</url-pattern>
		<url-pattern>/newContract</url-pattern>
		<url-pattern>/addContract</url-pattern>
		<url-pattern>/userInfom</url-pattern>
		<url-pattern>/techSupportCertificationInfo</url-pattern>
		<url-pattern>/productModifyForm</url-pattern>
		<url-pattern>/modifyProduct</url-pattern>
		<url-pattern>/modifyProfile</url-pattern>
		<url-pattern>/plusProduct</url-pattern>
		<url-pattern>/deletePackage</url-pattern>
		<url-pattern>/packageManager</url-pattern>
		<url-pattern>/patchList</url-pattern>
		<url-pattern>/versionList</url-pattern>
		<url-pattern>/packageUpload</url-pattern>
		<url-pattern>/patchUpload</url-pattern>
		<url-pattern>/openPackage</url-pattern>
		<url-pattern>/addOrderCompany</url-pattern>
		<url-pattern>/orderCompanyList</url-pattern>
		<url-pattern>/orderCompanyInfo</url-pattern>
		<url-pattern>/modifyCompanyInfo</url-pattern>
		<url-pattern>/expireOrderCompany</url-pattern>
		<url-pattern>/destroyProduct</url-pattern>
		<url-pattern>/userExpire</url-pattern>
		<url-pattern>/initializationPassword</url-pattern>
		<url-pattern>/progress</url-pattern>
		<url-pattern>/progressContract</url-pattern>
		<url-pattern>/addProgressContract</url-pattern>
		<url-pattern>/progressUserInfom</url-pattern>
		<url-pattern>/insertComment</url-pattern>
		<url-pattern>/modifyProgressInfo</url-pattern>
		<url-pattern>/progressUserExpire</url-pattern>
		<url-pattern>/changeUserStatus</url-pattern>
		<url-pattern>/deleteComment</url-pattern>
		<url-pattern>/modifyComment</url-pattern>
		<url-pattern>/userContractForm</url-pattern>
		<url-pattern>/convertUser</url-pattern>
		<url-pattern>/noticeMode</url-pattern>
		<url-pattern>/generateExcel</url-pattern>
		<url-pattern>/customUser</url-pattern>
		<url-pattern>/addCustomUserForm</url-pattern>
		<url-pattern>/addCustomUser</url-pattern>
		<url-pattern>/customUserInfo</url-pattern>
		<url-pattern>/modifyCustomUser</url-pattern>
		<url-pattern>/morgue</url-pattern>
		<url-pattern>/createCustomBoard</url-pattern>
		<url-pattern>/deleteCustomBoard</url-pattern>
		<url-pattern>/renameCustomBoard</url-pattern>
		<url-pattern>/customBoard</url-pattern>
		<url-pattern>/customWriting</url-pattern>
		<url-pattern>/customWrite</url-pattern>
		<url-pattern>/cViewPost</url-pattern>
		<url-pattern>/cModifyBoardForm</url-pattern>
		<url-pattern>/cModifyBoard</url-pattern>
		<url-pattern>/cDeleteBoard</url-pattern>
		<url-pattern>/replyCustomBoardForm</url-pattern>
		<url-pattern>/replyCustomBoard</url-pattern>
		<url-pattern>/cReplyList</url-pattern>
		<url-pattern>/cInsertReply</url-pattern>
		<url-pattern>/cDeleteReply</url-pattern>
		
		<url-pattern>/boardManagement</url-pattern>
		<url-pattern>/projectFolders</url-pattern>
	</servlet-mapping>
</web-app>